
body{
	background: url(https://picsum.photos/id/225/1500/979);
}

#fld{
  background: hsla(360,30%, 200%, 0.5);
  margin: auto 0;
  padding: 3.125em;
  height: 31.250;
  width: fit-content;
  border: none;
  margin-left:auto;
  margin-right:auto;

}

input{
	margin: 5px;
	padding: 8px;
	border: none;

}	
button{
	background: hsl(39000, 600%,10%, 0.4);
	

}

.par{
	text-align: center;
}


a:link{
	color:rgba(100,100,200,0.9)
}
a:visited{
	color:blue
}
a:hover{
	color:red;
}
a:active{
	color:brown;
}

#dt1{
	
}

footer{
	color:aliceblue

}
footer,#foo{
	text-align: right;
}

@media screen and (max-width: 700px ) {
  body {
    font-size: 12px;
  }
  header {
    padding: 1em 0;
  }
  h1 {
    font-size: 1.2em;
  }
  div.key-container {
    margin-bottom: 2em;
  }
  button.looper {
    font-size: 2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
}

@media screen and ( max-width: 400px ) {

}
